.App {
  text-align: center;
}

.card {
  width: 18rem;
}

.add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.input {
  height: 38px;
}

.btn {
  margin: 2px 2px 2px 2px;
}
